* {
    text-align: center;
    font-family: Arial;
}

body {
    background-color: lavender;
}

#round-container {
    height: 50px;
    font-size: 24px;
}

#score-container {
    height: 100px;
    font-size: 16px
}

#result-container {
    height: 100px;
    font-size: 32px;
}

button {
    font-size: 12px;
    padding: 8px 20px;
    background-color: rgb(248, 166, 255);
    border: none;
    border-radius: 20px;
}